.about {
    max-width: 296px;
}

.author-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
}

.author__info {
    display: grid;
    gap: 4px;
}

.author__surname {
    font-size: 25px;
    font-weight: 400;
}

.author__name {
    font-size: 35px;
    font-weight: 500;
}

.author__profession {
    font-size: 15px;
    font-weight: 700;
}